# Video Game Sales Prediction

## Part 0: Introduction

This dataset, inspired by Gregory Smith's web scrape of VGChartz, extends video game sales data with additional variables sourced from Metacritic. It includes information on game sales by region, critic and user scores, and game metadata such as platform, genre, and ESRB ratings.

### Objective: To create a classification model that can predict the global sale of a video game (Note the target column in the dataset is Global_Sales

We will follow the following steps:
1. Read the Data
2. Reduce the data by
   - Removing duplicates
   -

# Imports

In [161]:
import pandas as pd

# Reading and Understanding the DataSet

In [163]:
file_path = 'Video_Games_Sales_as_at_22_Dec_2016.csv'
df = pd.read_csv(file_path)

df.shape

(16719, 16)

In [164]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16717 non-null  object
 1   Platform         16719 non-null  object
 2   Year_of_Release  16450 non-null  float64
 3   Genre            16717 non-null  object
 4   Publisher        16665 non-null  object
 5   NA_Sales         16719 non-null  float64
 6   EU_Sales         16719 non-null  float64
 7   JP_Sales         16719 non-null  float64
 8   Other_Sales      16719 non-null  float64
 9   Global_Sales     16719 non-null  float64
 10  Critic_Score     8137 non-null   float64
 11  Critic_Count     8137 non-null   float64
 12  User_Score       10015 non-null  object
 13  User_Count       7590 non-null   float64
 14  Developer        10096 non-null  object
 15  Rating           9950 non-null   object
dtypes: float64(9), object(7)
memory usage: 2.0+ MB

# Data Preprocessing

In [166]:
missing_percentage = (df.isnull().sum() / len(df)) * 100
print("\nPercentage of missing values per column:")
print(missing_percentage)

Percentage of missing values per column:
Name                0.011962
Platform            0.000000
Year_of_Release     1.608948
Genre               0.011962
Publisher           0.322986
NA_Sales            0.000000
EU_Sales            0.000000
JP_Sales            0.000000
Other_Sales         0.000000
Global_Sales        0.000000
Critic_Score       51.330821
Critic_Count       51.330821
User_Score         40.098092
User_Count         54.602548
Developer          39.613613
Rating             40.486871
dtype: float64

In [167]:
# Drop rows where any of the specified columns have missing values
columns_to_drop = ['Name', 'Year_of_Release', 'Genre', 'Publisher']
df = df.dropna(subset=columns_to_drop)

# Verify the dataset after dropping columns
print("\nDataset info after dropping specified columns:")
df.info()

Dataset info after dropping specified columns:
<class 'pandas.core.frame.DataFrame'>
Index: 16416 entries, 0 to 16718
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16416 non-null  object
 1   Platform         16416 non-null  object
 2   Year_of_Release  16416 non-null  float64
 3   Genre            16416 non-null  object
 4   Publisher        16416 non-null  object
 5   NA_Sales         16416 non-null  float64
 6   EU_Sales         16416 non-null  float64
 7   JP_Sales         16416 non-null  float64
 8   Other_Sales      16416 non-null  float64
 9   Global_Sales     16416 non-null  float64
 10  Critic_Score     7982 non-null   float64
 11  Critic_Count     7982 non-null   float64
 12  User_Score       9837 non-null   object
 13  User_Count       7461 non-null   float64
 14  Developer        9904 non-null   object
 15  Rating           9767 non-null   object
dtypes: float64(9), object(7)
memory usage: 2.1+ MB

In [168]:

# # Step 2: Impute missing values for critical columns
# numerical_cols = ['Critic_Score', 'Critic_Count', 'User_Score', 'User_Count']
# for col in numerical_cols:
#     if col in df.columns:
#         df[col] = df[col].fillna(df[col].median())

# categorical_cols = ['Publisher', 'Developer', 'Rating']
# for col in categorical_cols:
#     if col in df.columns:
#         df[col] = df[col].fillna(df[col].mode()[0])

# Step 3: Verify the final dataset
print("\nFinal dataset info after preprocessing:")
df.info()

Final dataset info after preprocessing:
<class 'pandas.core.frame.DataFrame'>
Index: 16416 entries, 0 to 16718
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16416 non-null  object
 1   Platform         16416 non-null  object
 2   Year_of_Release  16416 non-null  float64
 3   Genre            16416 non-null  object
 4   Publisher        16416 non-null  object
 5   NA_Sales         16416 non-null  float64
 6   EU_Sales         16416 non-null  float64
 7   JP_Sales         16416 non-null  float64
 8   Other_Sales      16416 non-null  float64
 9   Global_Sales     16416 non-null  float64
 10  Critic_Score     7982 non-null   float64
 11  Critic_Count     7982 non-null   float64
 12  User_Score       9837 non-null   object
 13  User_Count       7461 non-null   float64
 14  Developer        9904 non-null   object
 15  Rating           9767 non-null   object
dtypes: float64(9), object(7)
memory usage: 2.1+ MB

In [169]:
# Specify the columns to drop
columns_to_drop = ['Name', 'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales', 'Critic_Count', 'User_Count']

# Drop the columns from the dataset
df = df.drop(columns=columns_to_drop, axis=1)

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16416 entries, 0 to 16718
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Platform         16416 non-null  object
 1   Year_of_Release  16416 non-null  float64
 2   Genre            16416 non-null  object
 3   Publisher        16416 non-null  object
 4   Global_Sales     16416 non-null  float64
 5   Critic_Score     7982 non-null   float64
 6   User_Score       9837 non-null   object
 7   Developer        9904 non-null   object
 8   Rating           9767 non-null   object
dtypes: float64(3), object(6)
memory usage: 1.3+ MB